<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="Api" value="https://openservices.fieldeas.com/apps/transport/api/v1/repsoltrack"/>
		<add key="API_KEY" value="gWfdHQ2rWW0ZtkyETywEdqJ77U7kLSTg"/>
		<add key="Usuario" value="sertrans_int"/>
		<add key="Password" value="U2VydHJhbnMxMjMh"/>
		<add key="TokenProduccion" value="gWfdHQ2rWW0ZtkyETywEdqJ77U7kLSTg"/>
		<add key="RutaEDI" value="c:\caca"/>
		
		
		
	</appSettings>

		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>